*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover{
    text-decoration: none;
}

@font-face{
    font-family: "Bebas Neue Normal";
    src:local("Bebas Neue Normal");
    src: url(BebasNeue.otf) format('otf');
}

@font-face {
    font-family: 'Typeecon';
    src: local('Typeecon'),
	     url(typeecon.otf) format('OpenType');
}

body{
	background-image:
    radial-gradient(
    circle at center,
    rgb(255,255,255),
    rgb(200, 200, 200)
    )
}

.colorMainGroup{
	background-color: rgb(139, 197, 65);
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  position: absolute;
}

.img-responsive {
    width: 12%;
    height: auto;
}

.material-icons{
	font-size: 37px;
	color: #fff;
}

.headings {
	text-align: center;
	font-weight: bold;
	margin-top: 6%;
}

/* Estilos título "Agencia" */
.agency-title{
	margin-top: 8%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3.2em;
}

.agency-img{
	width: 50%;
	margin-left: 26%;
	margin-top: 3%;
}

/* Estilos título "Staff" */
.staff-title{
	margin-top: 6%;
	font-weight: bold;
	font-size: 3.2em;
}

.staff-caricatures{
	width: 16%;
	margin-left: 13%;
	margin-top: 3%;
	margin-bottom: 4%;
}

.staff-sebastian {
	margin-top: -3%;
	margin-left: -57%;
	font-size: 1.5em;
	text-align: center;
}

.staff-agustin {
	margin-top: -6%;
	font-size: 1.5em;
	text-align: center;
}

.staff-juan {
	margin-top: -6%;
	margin-left: 59.5%;
	font-size: 1.5em;
	text-align: center;
}

.title-work{
	margin-top: 6%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.globo{
	text-align: center;
	font-size: 1.2em;
}

.globo-img{
	margin-left: 27%;
	width: 46%;
	margin-bottom: 4%;
}

.gallery-img{
	margin-left: 26%;
	width: 48%;
}

footer{
	width: 100%;
	height: auto;
	clear: both;
	position: relative;
	background-color: #8AC440;
	align-self: flex-end;
	padding-bottom: 1%;
}

.footer-img-content{
	z-index: 6;
	margin-top: 20%;
}

.footer-logo {
	width: 12%;
    display: block;
    margin: auto;
    position: absolute;
    top: 20%;
}

.img-footer{
	position: absolute;
	left: 70%;
	top: -98%;
	width: 30%;
}

.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
  	opacity:0.8;
  	-moz-opacity:0.8;
 	-webkit-opacity:0.8;
}

.social-icon{
	font-family: 'Typeecon';
	display: inline-block;
	font-size: 25px;
	margin: 37.5px 7px 37.5px 0px;
	color: #fff;
}

.social-row {
    margin-top: -7%;
    margin-left: 45%;
}

@media screen and (max-width: 1024px){
	#logo-responsive /*Que el tamaño del logo se adapte a las resoluciones menores a 1024px*/{
		width: 100px;
	}
}

/*Estilos para telefonos o dispositivos de entre 320 y 500px de ancho */
@media only screen 
  and (min-width: 320px) and (max-width: 500px){
  
	.agency-title {
    	margin-top: 24%;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 3.0em;
	}

	.staff-title {
    	margin-top: 28%;
    	font-weight: bold;
    	font-size: 3em;
    	margin-bottom: -25%;
	}

	.agency-img {
    	width: 100%;
    	margin-left: 0;
    	margin-top: 3%;
	}

	.staff-caricatures {
    	width: 35%;
    	display: block;
    	margin: 32%;
	}

	.staff-sebastian {
    	margin-top: -164%;
    	margin-left: 0;
		font-size: 1.0em;
	}

	.staff-agustin {
    	margin-top: 50%;
    	font-size: 1.0em;
	}

	.staff-juan {
    	margin-top: 50%;
    	margin-left: 0;
    	font-size: 1.0em;
	}

	.globo {
    	font-size: 1.0em;
	}

	.globo-img {
    	width: 100%;
    	margin-bottom: 18%;
    	margin-left: 0;
	}

	.footer-logo {
		width: 50%;
    	display: block;
    	top: 20%;
    	margin-left: 25%;
    	margin-top: 10%;
	}

	.img-footer {
    	width: 70%;
    	left: 28%;
    	top: -33%;
    	position: absolute;
	}

	.social-row {
    	margin-left: 39%;
    	margin-top: 34%;
    	display: inline-flex;
	}
}