*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	height: 100%;
}

@font-face {
    font-family: 'Typeecon';
    src: local('Typeecon'),
	     url(typeecon.otf) format('OpenType');
}

.wrapper{
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	position: relative;

}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  position: absolute;
}

.material-icons {
	font-size: 37px;
}

.img-responsive {
	width: 12%;
	height: auto;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.grid-landing-absolute{
	position: absolute;
	z-index: 4;
	top: 53%;
	transform: translateY(-53%);
	margin-left: 7%;
}

.primary-title{
	color: #fff;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    line-height: 60px;
}

.secondary-title{
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    text-align: left;
    margin-top: 0.2%;
}

.positioned-btn{
	margin: 3% 1%;

}

.content-section{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
}

.section-title{
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	/* margin-top: 10%; */
}

.section-subtitle{
	font-size: 1.5em;
	font-weight: 400;
	width: 100%;
	text-align: center
}

.special-with-grid{
	width: 80%;
}

/* Project Preview Styles */

/* 
.project-preview-box{
	background-color: blue;
	height: 500px;
	margin: 0;
}

.project-preview-box:first-child,
.project-preview-box:last-child{
	height: 700px;
}

.project-preview-box:last-child{
	margin-top: -200px;
}
*/

/* Project */
#project-1 img{
	width: 100%;
	margin-left: 1%;
}

#project-2 img{
	width: 100%;
	margin-left: -1%;
}

#project-3 img{
	width: 100%;
	margin-top: -27%;
	margin-left: 1%;
}

#project-4 img{
	width: 100%;
	margin-top: -2%;
	margin-left: -1%;
}

#accion-seemore-project{
	display: block;
	margin: 7% auto;
}

/* Footer styles */
footer{
	width: 100%;
	height: auto;
	clear: both;
	position: relative;
	background-color: #8AC440;
	align-self: flex-end;
	padding-bottom: 1%;
}

.footer-img-content{
	z-index: 6;
	margin-top: 20%;
}

.footer-logo {
	width: 150px;
    display: block;
    margin: auto;
    position: absolute;
    margin-top: -5%;
}

.footer-img{
	width: 35%;
	height: auto;
	margin-left: 64%;
	margin-top: -11%;
}

#clients-brand{
	z-index: 8;
	background-color: #F8F8F8;
	padding-top: 1%;
}

.social-icon{
	font-family: 'Typeecon';
	display: inline-block;
	font-size: 25px;
	margin: 37.5px 7px 37.5px 0px;
	color: #fff;
}

.social-row {
	margin-top: -7%;
	margin-left: 45%;
}

/* Portrait and Landscape */
@media only screen 
  and (min-width: 320px) and (max-width: 480px){
  
  		.video-container .filter {
    		z-index: 0;
	}
  		.primary-title {
    		font-size: 2.3em;
    		line-height: 40px;
    		margin-top: 30%;
    		margin-right: 10%;
    		text-align: center;
	}

		.secondary-title {
			margin-top: 0.2%;
    		font-size: 1.4em;
    		margin-right: 10%;
    		text-align: center;
	}

		.section-title {
    		font-size: 2em;
    		width: 99%;
	}
	
		.positioned-btn {
    		margin: 3% 1%;
    		margin-top: 15%;
    		align-content: center;
    		margin-left: 28.5%;
	}

        #project-1 img {
        	margin-left: 0;
	}

        #project-2 img {
        	margin-left: 0;
    }

        #project-3 img {
        	margin-left: 0;
        	margin-top: 0;
    }

        #project-4 img {
        	margin-left: 0;
        	margin-top: 0;
    }

    	.footer-img {
    		width: 70%;
    		margin-left: 28%;
    		margin-top: -22%;
	}

		.footer-img-content {
    		z-index: 6;
 	   		margin-top: 50%;
	}

		.footer-logo {
    		margin-top: 4%;
    		margin-left: 25%;
	}

		.social-row {
			margin-top: 16%;
			margin-left: 36%;
	}
}